img.logo {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 80px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.search-bar {
    width: 350px;
}

.nav-link {
    color: black;
}

.active {
    color: darksalmon;
}

iframe {
  margin: 30px auto;
}