
a {
  color: green;
  text-decoration: none;
}

img {
  margin:5px;
}

body {
  background-color: #bebebbe5;
  font-family: 'Noto Serif KR', serif;
}

  button {
    border-radius: 5px;
    color: white;
    background-color: green;
    padding: 5px 10px 8px 10px;
  }
  
  button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
  }

.search-bar {
    width: 350px;
}
